body {
    background-color: brown;
}

header {
    background-color: aliceblue;
}

h1 {
    font-family: sans-serif;
    font-size: 100px;
    text-align: center;
    padding: 10px;
}

#quizbox {
    background-color: bisque;
    border: 5px solid;
    border-radius: 10px;
    margin: auto;
    max-width: 1200px;
    box-shadow: 0 0 15px 5px;
}

#quizbox2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
    text-align: center;
} 

h2 {
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

p {
    padding: 30px;
    line-height: 2;
}

#container {
    flex: 1;
    align-self: center;
}

#container2 {
    flex: 1;
    align-self: center;
}

#container-timer {
    flex: 1;
    display: inline-block;
    align-self: center;
    /* border: 10px solid;
    border-radius: 70px;
    height: 130px;
    width: 240px; */
    margin-bottom: 20px;
    justify-content: center;
}

.btn {
    background-color: rgb(181, 181, 181);
    height: 70px;
    width: 300px;
    border: 5px solid;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    align-self: flex-start;
    justify-content: center;
    display: grid;
    padding-top: 8px;
}

.btnbox {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    margin: 20px 0;
    align-self: center;
}

#go {
    background-color: rgb(209, 209, 209);
    height: 60px;
    width: 200px;
    border: 5px solid;
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    align-self: center;
    justify-content: center;
    padding-top: 9px;
}

button:hover {
    cursor: pointer;
    opacity: .8;
    transform: translate(0, 3%);
}

#timer {
    font-size: 70px;
}

#question {

}

.hide {
    display: none;
}

#input {
    height: 50px;
    width: 300px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label {
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 896px) {
    header h1 {
     font-size: 40px;
     flex-wrap: wrap;
    }

    #quizbox {
        
    }
   }
   